body {
    background-color: #383B3C;
}

h1 {
    color: #ffffff;
    font-size: 2.8em;
    font-family: 'Lobster', cursive;
}

h1 a {
    color: #ffffff;
    text-decoration: none;
}

menuitem {
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Asap', sans-serif;
}

menuitem:hover {
    color: #d83c3c;
}

p {
    color: #ffffff;
    font-family: 'Asap', sans-serif;
}

.hidden {
  display: none;
}
