body {
	background: #ddd;
	font-family: arial;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    background: #526537;
    z-index: -1;
}

.pane {
    width: 50%;
    max-height: 75%;
    overflow: scroll;
    background: #fff;
    padding: 22px 32px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.pane img {
    display: inline-block;
    max-width: 100%;
}

.pane h1 {
	font-size: 2em;
	color: #72809a;
    z-index: 2;
}

.pane h2 {
	font-size: 1em;
	color: #b9c1cf;
    z-index: 2;
}

.pane h2 a,
.pane h2 a:hover {
    font-size: 1em;
    color: #72809a;
    z-index: 2;
}
.pane h2 a {
    text-decoration: none;
}

.pane h2 a:hover {
    text-decoration: underline;
}

.misc {
    padding-top: 0.8em;
    z-index: 1;
}

.misc a {
	color: #526537;
	text-decoration: none;
}

.misc a:hover {
	color: #526537;
	text-decoration: underline;
}

.text-center {
	text-align: center;
}

.column,
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.column {
    flex-direction: column;
    height: 100%;
    padding-top: 2em;
}

.column .item-fixed {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    max-width: 50%;
}

.column .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}   

.row {
    flex-direction: row;
    width: 100%;
}

.row .icon img,
.row .icon svg {
    margin: 1em;
    padding: 0.5em;
    max-width: 20%; /* Only set width to constrain aspect */
    background-color: white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    -box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

svg path {
    fill: #526537;
}

svg:hover path {
    fill: black;
}

.disabled svg:active path {
    fill: red;
}

.disabled {
    cursor: not-allowed;
}

.left {
    float: right;
    text-align: right;
}

.right {
    float: left;
    text-align: left;
}

/* https://css-tricks.com/examples/hrs/ */
hr.browse {
    height: 1px;
    border: 0;
    background: #b9c1cf;
    background-image: linear-gradient(to right, #b9c1cf, #72809a, #b9c1cf);
    margin-top: 1em;
    margin-bottom: 1em;
}

img.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content,
#extra,
#left-arrow-container,
#right-arrow-container,
#results {
    opacity: 0;
}
